/* *{
    border: 1px solid red;
} */

body,html{
    position: fixed;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

body,html,h1{
    margin: 0;
    padding: 0;
}

.circle .circle1{
    width: 55px;
    height: 55px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 658px;
    left: 70px;
    position: absolute;
}

.circle .circle2{
    width: 55px;
    height: 55px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 519px;
    left: 10px;
    position: absolute;
}

.circle .circle3{
    width: 99px;
    height: 99px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 508px;
    left: 357px;
    position: absolute;
}

.circle .circle4{
    width: 99px;
    height: 99px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: -50px;
    left: 61px;
    position: absolute;
}

.circle .circle5{
    width: 15px;
    height: 15px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 285px;
    left: 357px;
    position: absolute;
}

.circle .circle6{
    width: 15px;
    height: 15px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 49px;
    left: 221px;
    position: absolute;
}

.circle .circle7{
    width: 15px;
    height: 15px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 517px;
    left: 155px;
    position: absolute;
}

.circle .circle8{
    width: 34px;
    height: 34px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 567px;
    left: 205px;
    position: absolute;
}

.circle .circle9{
    width: 34px;
    height: 34px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 99px;
    left: 261px;
    position: absolute;
}

.circle .circle10{
    width: 115px;
    height: 115px;
    border: 1px solid #DFDFE4;
    border-radius: 50%;
    top: 68px;
    left: 351px;
    position: absolute;
}

.logo{
    font-size: 18px;
    color: #7540EE;
    position: relative;
    top: 84px;
    left: 32px;
}

.hello{
    width: 222px;
    height: 87px;
    position: absolute;
    top: 170px;
    left: 32px;
}

.hello .row1{
    font-size: 24px;
    color: #25265E;
    padding-bottom: 10px;
}

.hello .row2{
    color: #787993;
    font-size: 16px;
}

.hello .row2 span{
    color: #7540EE;
    text-decoration: underline;
}

.input{
    width: 311px;
    height: 28px;
    position: absolute;
    top: 310px;
    left: 32px;
    font-size: 16px;
    color: #787993;
}

.input .email {
    padding-bottom: 40px;
}

.input .email .underline{
    border: 1px solid #DFDFE4;
}

.input .password .underline{
    border: 1px solid  #DFDFE4;
}

.login-btn{
    font-size: 16px;
    width: 92px;
    height: 43px;
    background-color:rgba(117, 64, 238, 0.2);
    border-radius: 23%;
    position: absolute;
    top: 446px;
    left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn span{
    color: #7540EE;
}

.forgot-btn{
    font-size: 16px;
    position: absolute;
    top: 458px;
    left: 211px;
    color: #7540EE;
    text-decoration: underline;
}

.sign-up{
    position: absolute;
    bottom: 35px;
    left: 65px;
    color: #787993;
}

.sign-up span{
    color: #FF7052;
    text-decoration: underline;
}